<app-header></app-header>
<router-outlet>
  <div class="body">
    <form class="form" [formGroup]="formData" (ngSubmit)="login()">
      <div class="slide-controls">
        <input type="radio" name="slide" id="signup" (change)="navigateToAccountType()">
        <label class="slide signup" for="signup">إنشاء حساب</label>

        <input type="radio" name="slide" id="login" checked>
        <label class="slide login" for="login">تسجيل دخول</label>
      </div>
      <div class="slider-tab"></div>
      <h1 class="title">سجل دخولك</h1>
      <h6 class="note">سجل دخولك لتبدأ رحلتك في متجرنا</h6>

      <div class="group">
        <div class="input-group">
          <p class="text">البريد الالكتروني</p>
          <input type="text" formControlName="email_user" placeholder="ادخل البريد" required>

        </div>
        <div *ngIf="submitted_crearte && formData.controls['email_user'].errors">
          <p class="invalid-feedback-custom"
            *ngIf="submitted_crearte && formData.controls['email_user'].errors.required">
            الحقل مطلوب!
          </p>
          <p class="invalid-feedback-custom" *ngIf="submitted_crearte && formData.controls['email_user'].errors.email">
            البريد غير صحيح!
          </p>
        </div>
      </div>

      <div class="group">
        <div class="input-group">
          <p class="text">كلمة المرور</p>
          <input type="password" formControlName="password_user" placeholder="ادخل كلمة المرور" required>


        </div>
        <div *ngIf="submitted_crearte && formData.controls['password_user'].errors">
          <p class="invalid-feedback-custom"
            *ngIf="submitted_crearte && formData.controls['password_user'].errors.required">
            الحقل مطلوب!</p>
          <p class="invalid-feedback-custom"
            *ngIf="submitted_crearte && formData.controls['password_user'].errors.minlength">
            كلمة السر يجب ان تكون أطول من 8 عناصر!</p>
          <p class="invalid-feedback-custom"
            *ngIf="submitted_crearte && formData.controls['password_user'].errors.pattern">
            كلمة السر يجب ان تحتوي حروف كبيرة وصغيرة وارقام!</p>
        </div>
      </div>


      <div class="btn">
        <button type="submit">تسجيل
          الدخول</button>
      </div>

      <p class="change"><a routerLink="/auth/accountType">انشاء حساب </a>ليس لديك حساب؟ </p>
    </form>
  </div>

</router-outlet>
<app-footer></app-footer>
