@import url(https://fonts.googleapis.com/css?family=Almarai);

.btn{
  background-color: #C98F74;
  border-radius: 10px;
  border: #C98F74;
  padding: 7px 20px;
  font-family: 'Almarai';
  color: white;
}

.btn:hover{
  background-color: #BB8267;
}
