<div class="body">
  <form>

    <div class="titleDiv">
      <h1>طلبات تسجيل المتاجر</h1>
    </div>

    <div class="tableTitleDiv">
      <h2>تفاصيل الطلبات</h2>
    </div>

    <table>
      <thead>
        <tr>
          <th class="thName">اسم المتجر</th>
          <th>الفرع</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th>السجل التجاري</th>
          <th>الرد</th>
          <th class="thLast">تبرير الرد</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayList">
          <td>{{item.store}}</td>
          <td>{{item.branch}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td><img src="" alt="السجل"></td>
          <td class="tdButton"><button>قبول</button>
            <button>رفض</button></td>
          <td><input class = "replayField" type="text" id="replay" name="replayName" value="تم الرفض بسبب عدم وجود تطابق بين البيانات و السجل التجاري"> </td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
