.body {
  direction: rtl;
  height: 100%;
  padding: auto;
  margin: auto;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  background-color: var(--back);
}

form {
  height: auto;
  width: auto;
  padding: auto;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleDiv {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 45px;
  color: var(--prime);
  padding: 5px;
  margin: 0;
}

.tableTitleDiv {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  color: var(--textCol);
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 25px;
  color: var(--textCol);
  padding: 5px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}


table {
  width: 100%;
  display: table;
  align-self: center;
  text-align: center;
  background-color: var(--background);
  border: 1.5px,solid;
  border-color: var(--prime);
  color: var(--font);
  box-shadow: 3px 3px 3px 3px var(--shadow);
}

th {
  border: 0.5px,solid;
  border-color: var(--prime);
  background-color: #eebaa1;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0;
}

td {
  border: 0.5px,solid;
  border-color: var(--prime);
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0;
}

td :hover {
  background-color: var(--back);
  color: var(--textCol);
}

button {
  width: 50px;
  background-color: var(--main);
  border-radius: 10px;
  border: var(--main);
  padding: 7px 10px 7px 10px;
  font-family: var(--font);
  color: var(--background);
  box-shadow: 0px 2px 6px var(--shadow);
  text-decoration: none;
  font-size: 14px;
  display: flex;
  text-align: center;
}
