<div class="body">
  <div class="containerDiv">

  <div class="titleDiv">
    <h1>طلبات تسجيل المتاجر</h1>
  </div>

  <div class="tableTitleDiv">
    <h2>تفاصيل الطلبات</h2>
  </div>

  <div class="search-container">
    <i class="fas fa-search search-icon"></i>
    <input type="text" placeholder="بحث">
  </div>

  <table>
    <thead>
      <tr>
        <th class="thName">اسم المتجر</th>
        <th>الفرع</th>
        <th>البريد الإلكتروني</th>
        <th>رقم الجوال</th>
        <th>السجل التجاري</th>
        <th class="thLast">الرد</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrayList">
        <td>{{item.store}}</td>
        <td>{{item.branch}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td><img class="commercialRegistration" src= {{item.commercialRegistration}} alt="السجل"></td>
        <td class="tdButton">
          <button class="replayButton" (click)="open(content)">انقر للرد</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<ng-template class="popUp" #content let-modal>
  <div class="popUpHeaderDiv">
    <h4 class="popUpTitleH4" id="popUpTitle">انقر للقبول أو الرفض مع التوضيح: </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="popUpbodyDiv">
    <label class="rplayMassegeLabel" for="replayMassege">رسالة الرد :</label>
    <input class="replayMassegeField" id="replayMassege" type="text">
  </div>

  <div class="popUpOprationDiv">
    <button type="button" class="popUpacceptanceButton" (click)="modal.acceptance('accept click')">قبول</button>
    <button type="button" class="popUprejectioneButton" (click)="modal.rejection('reject click')">رفض</button>
  </div>
</ng-template>
