<div class="body">
  <form>

    <div class="titleDiv">
      <h1>الإحصائيات</h1>
      <h6>راقب نجاحك</h6>
    </div>

    <!-- <div class="storeInfoDiv">
        <img src="C:\Users\faado\Documents\GitHub\Sahel\src\assets\images\Panda.png" alt="store logo">
        <h2> الشرايع - مخطط 2</h2>
    </div> -->

    <div class="tableTitleDiv">
      <h2>مقارنة مع المتاجر الأخرى</h2>
     </div>

    <table>
      <thead>
        <tr>
          <th class="thName">المتجر</th>
          <th>نسبة المبيعات بين المتاجر</th>
          <th>الترتيب حسب المبيعات</th>
          <th>فرع المتجر</th>
          <th>الترتيب حسب الفروع</th>
          <th>عدد العملاء</th>
          <th class="thLast">التقدم</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <tr *ngFor="let item of arrayList">
            <td>{{item.store}}</td>
            <td>{{item.percentageOfSalesBetweenStores}}</td>
            <td>{{item.sortBySales}}</td>
            <td>{{item.branchOfStore}}</td>
            <td>{{item.sortByBranchs}}</td>
            <td>{{item.NumberOfClients}}</td>
            <td class="tdProgress">{{item.progress}}</td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
