<div class="body">

  <h1 class="title">حسابي</h1>
  <form (ngSubmit)="saveChanges()" class="form">
    <div class="section">
      <h6 class="note">محفظتي</h6>
      <div class="wallet-group">
        <p class="wallet"> ريال <a>{{wallet}}</a> رصيد المحفظة </p>
      </div>
    </div>

    <div class="section">
      <h6 class="note">معلوماتي</h6>
      <div class="input-group">
        <p class="text">الاسم</p>
        <input type="text" [(ngModel)]="name" name="name" />
      </div>
      <div class="input-group">
        <p class="text">رقم الجوال</p>
        <input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" />
      </div>
      <div class="input-group">
        <p class="text">البريد الالكتروني</p>
        <input type="email" [(ngModel)]="email" name="email" />
      </div>

    </div>

    <div class="section">
      <h6 class="note">الموقع</h6>
      <div class="input-group">
        <p class="text">الحي</p>
        <input type="text" [(ngModel)]="neighborhood" name="neighborhood" />
      </div>
      <div class="input-group">
        <p class="text">الشارع</p>
        <input type="text" [(ngModel)]="street" name="street" />
      </div>
      <div class="input-group">
        <p class="text">المبنى</p>
        <input type="text" [(ngModel)]="building" name="building" />
      </div>
      <div class="input-group" *ngIf="mylatlng.lat == null && mylatlng.lng == null; else do_that">
        <button (click)="findMe()">إضافة موقع عن طريق GPS</button>
      </div>
      <ng-template #do_that>
        <button (click)="findMe()">تعديل الموقع عن طريق GPS</button>

      </ng-template>
      <p class="loc">نوع الموقع</p>
      <div class="checkbox">
        <app-checkbox [check]="'aaa'" [title]="'عمل'"></app-checkbox>
        <app-checkbox [check]="'aaa'" [title]="'بيت'"></app-checkbox>
      </div>
    </div>


    <div class="section">
      <h6 class="note">اضافة بطاقة</h6>
      <form [formGroup]="cardForm" (ngSubmit)="addCard()">
        <div class="input-group">
          <p class="text">اسم البنك</p>
          <input type="text" formControlName="bank_name" placeholder="اسم البنك" />
          <div *ngIf="submitted_crearte && cardForm.controls['bank_name'].errors">
            <div class="invalid-feedback-custom"
              *ngIf="submitted_crearte && cardForm.controls['bank_name'].errors.required">
              الحقل مطلوب!
            </div>
          </div>
        </div>

        <div class="input-group">
          <p class="text"> الايبان</p>
          <input type="text" formControlName="iban" placeholder="الايبان" />
          <div *ngIf="submitted_crearte && cardForm.controls['iban'].errors">
            <div class="invalid-feedback-custom" *ngIf="submitted_crearte && cardForm.controls['iban'].errors.required">
              الحقل مطلوب!
            </div>
          </div>
        </div>

        <div class="input-group">
          <p class="text">رقم البطاقة</p>
          <input type="text" formControlName="card_number" placeholder="Card No." />
          <div *ngIf="submitted_crearte && cardForm.controls['card_number'].errors">
            <div class="invalid-feedback-custom"
              *ngIf="submitted_crearte && cardForm.controls['card_number'].errors.required">
              الحقل مطلوب!
            </div>
            <div class="invalid-feedback-custom"
              *ngIf="submitted_crearte && cardForm.controls['card_number'].errors.pattern">
              الرقم غير صحيح!
            </div>
          </div>
        </div>

        <div class="input-group">
          <p class="text"> الاسم على البطاقة</p>
          <input type="text" formControlName="name_on_card" placeholder="الاسم" />
          <div *ngIf="submitted_crearte && cardForm.controls['name_on_card'].errors">
            <div class="invalid-feedback-custom"
              *ngIf="submitted_crearte && cardForm.controls['name_on_card'].errors.required">
              الحقل مطلوب!
            </div>
          </div>
        </div>

        <div class="input-group">
          <p class="text">تاريخ الانتهاء</p>
          <input type="text" formControlName="expiry_date" placeholder="MM/YY" />
          <div *ngIf="submitted_crearte && cardForm.controls['expiry_date'].errors">
            <div class="invalid-feedback-custom"
              *ngIf="submitted_crearte && cardForm.controls['expiry_date'].errors.required">
              الحقل مطلوب!
            </div>
            <div class="invalid-feedback-custom"
              *ngIf="submitted_crearte && cardForm.controls['expiry_date'].errors.pattern">
              التاريخ غير صحيح!
            </div>
          </div>
        </div>

        <div class="input-group">
          <p class="text">نوع البطاقة</p>
          <input type="text" formControlName="type_of_card" placeholder="النوع" />
          <div *ngIf="submitted_crearte && cardForm.controls['type_of_card'].errors">
            <div class="invalid-feedback-custom"
              *ngIf="submitted_crearte && cardForm.controls['type_of_card'].errors.required">
              الحقل مطلوب!
            </div>
          </div>
        </div>

        <button type="button" (click)="addCard()">{{add_card}}</button>
      </form>
    </div>


    <div class="section">
      <h6 class="text">البطاقات المحفوظة</h6>
      <div class="saved-cards">
        <div class="card" *ngFor="let card of savedCards">
          <i class="fas fa-trash-alt trash-icon" (click)="removeCard(card.number)"></i>
          <span class="card-info">{{card.number}}</span>
          <i class="fas fa-credit-card card-icon"></i>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" (click)="openDialog()">{{save}}</button>

    </div>
    <div class="button-container">
      <a class="link" (click)="signOut()">تسجيل الخروج</a>
    </div>
  </form>
</div>