.body {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 40px 0px;
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.form {
  background: var(--background);
  width: 770px;
  text-align: right;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section {
  width: 48%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title {
  text-align: right;
  font-size: 64px;
  margin-bottom: 50px;
  color: var(--prime);
margin-top: 100px;

}

.note {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--prime);
  font-weight: lighter;
}

.input-group {
  position: relative;
}

.password-strength {
  color: #ff0000;
}

.input-group input[type="password"] {
  padding-right: 25px;
}

.wallet {
  background-color: var(--back);
  height: 70px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet a {
  color: var(--main);
  padding: 3px;
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.password-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.password-strength {
  color: var(--warn);
  margin-top: 5px;
  font-size: 14px;
  display: block;
}

.password-strength {
  display: block;
  color: var(--warn);
  margin-top: 5px;
  font-size: 14px;
}

.text {
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
  color: var(--textCol);
}

.body .loc {
  padding-top: 5px;
  font-size: 18px;
  text-align: right;
  color: var(--textCol);
}

app-button {
  display: flex;
  justify-content: center;
  margin: 70px 0px 10px 0px;
  cursor: pointer;
  text-decoration: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  padding-top: 10px;
}

.saved-cards {

  text-align: right;
  margin: 20px 0px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border: none;
  box-shadow: 0px 2px 6px var(--shadow);
  padding: 5px 10px;
  margin: 10px;
}

.card-icon {
  font-size: 24px;
  cursor: pointer;
  padding-left: 5px;
  color: var(--prime);
}

.trash-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--warn);
}

.card-info {
  font-size: 18px;
  color: var(--textCol);
  text-align: right;
  margin: 10px 10px;
}

@media (max-width: 1110px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .section {
    padding: 10px;
  }

  .button-container {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0;
  }

  .title {
    font-size: 32px;
  }

  .note {
    font-size: 18px;
  }

  .text {
    font-size: 14px;
  }

  app-button {
    margin: 30px 0px 10px 0px;
  }

  .change {
    font-size: 14px;
  }

  .card-info {
    font-size: 14px;
  }

  .trash-icon,
  .card-icon {
    font-size: 20px;
  }

  .section {
    padding: 5px;
  }

  .button-container {
    margin-top: 5px;
  }
}
