<div class="body">
  <form class="form">

    <h1 class="title">إضافة منتج جديد</h1>
    <h6 class="note">أضف تفاصيل المنتج</h6>

      <label class="productNameField" for="productName">اسم المنتج</label>
      <input type="text" class=" field" name="productName" id="productName" placeholder="ادخل اسم المنتج">

      <label class="productPriceField" for="productPrice">سعر المنتج</label>
      <input type="text" class=" field" name="productPrice" id="productPrice" placeholder="ادخل سعر المنتج">

      <label class="productsSectionsField" for="productsSections">قسم المنتج:</label>
      <select id="productsSections" name="productsSectionsDropList">
        <option value="الشاي والقهوة">الشاي والقهوة</option>
        <option value="المعلبات">المعلبات</option>
        <option value="فواكه وخضروات">فواكه وخضروات</option>
        <option value="الماء والمشروبات">الماء والمشروبات</option>
        <option value="أجهزة إلكترونية">أجهزة إلكترونية والمشروبات</option>
      </select>

      <label class=" anotherSectionRadio" for="anotherSection">أخرى</label>
      <input type = "radio" name = "anotherSection">

  </form>
</div>
