<div class="body">
  <form>

  <div class = "titleDiv">
    <h1>إضافة منتج جديد</h1>
    <h6>أضف تفاصيل المنتج</h6>
  </div>

    <div class="productNameDiv">
      <label class="productNameLabel" for="productName">اسم المنتج :</label>
      <input class="productNameField" type="text" id="productName"  name="productNameName" placeholder="ادخل اسم المنتج"  required>
    </div>

    <div class="productPriceDiv">
      <label class="productPriceLabel" for="productPrice">سعر المنتج :</label>
      <input class = "productPriceField" type="text" id="productPrice" name="productPriceName" placeholder="ادخل سعر المنتج" required>
    </div>

<div class="productsSectionDiv">
      <label class="productsSectionLabel" for="productsSection"> قسم المنتج :</label>
<div class="productsSectionDiv_">
      <input class ="productsSectionList" list="productsSection" name="productsSection" placeholder="اختر قسم المنتج">
      <datalist id="productsSection" name="productsSectionsName">
       <ng-container *ngFor="let item of arrayList">
       <option  value="{{item.section}}">
       </ng-container>
      </datalist>
          <input class ="anotherSectionRadio" type="radio" name="anotherSectionName" id="anotherSection">
          <label class="anotherSectionLabel" for="anotherSection">أخرى</label>
          </div>
        </div>

    <div class="quantityDiv">
      <label class="quantityLabel" for="quantity">الكمية :</label>
      <input class="quantityCounter" type="number" id = "quantity" name="quantityName" placeholder="ادخل كمية المنتج" min="0">
    </div>

    <div class="productPhotoDiv">
      <label class="productPhotoLabel" for="productPhoto">أرفق صورة المنتج :</label>
      <input class="productPhotoInput" type="file" name="productPhotoName" id="productPhoto">
    </div>

    <div class="productBarcodeDiv">
      <label class="productBarcodeLabel" for="productBarcode">أرفق صورة لباركود المنتج :</label>
      <input class = "productBarcodeInput" type="file" name="productBarcodeName" id="productBarcode">
    </div>

    <div class="ResetAddDiv">
      <input class="resetButton" type="reset" value="مسح الحقول" name="resetName">
      <app-button [value]='submit' [link]='link'></app-button>
    </div>

  </form>
</div>

