
.body{
  padding: 10px ;
  font-family: 'Almarai';
  border: none;
  box-shadow: 0px 2px 6px #30303033;
  display: flex;
  border-radius: 10px;
  flex-direction: row-reverse;
  width: 400px;
}



.card-info{
  text-align: right;
  padding: 10px;
  padding-left: 20px;
}

.card-img{
  width: 150px;
  height: auto;
  margin: 0 ;
  padding-left: 10px;
}

app-button{
  padding-top: 20px;
}
.card-title{
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 10px;
  margin: 0;
}
.card-text{
  padding-bottom: 25px;

  margin: 0;
  font-size: 18px;
  color: var(--warn);
}

@media (max-width: 500px) {
  .body {
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Full width */
    align-items: center; /* Center items */
  }

  .card-img {
    width: 100%; /* Make image responsive */
    padding-left: 0; /* Remove padding */
  }

  .card-info {
    text-align: center; /* Center text on smaller screens */
  }

  .card-title {
    font-size: 20px; /* Adjust title size */
  }

  .card-text {
    font-size: 16px; /* Adjust text size */
  }
}

