.body {
  direction: rtl;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  height: 100%;
}

.container-div {
  background-color: var(--background);
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin: 50px;
  margin-top: 110px;
  background-color: var(--background);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 10px;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

.title-div {
  padding: 0px;
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}

h1 {
  font-size: 45px;
  color: var(--prime);
  padding: 5px;
  margin: 0;
}

h6 {
  font-size: 14px;
  color: var(--textCol);
  padding: 5px;
  margin: 0;
  margin-left: 35px;
}

.slide-controls {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.slide-controls input {
  display: none;
}

.slide {
  cursor: pointer;
  padding: 7px 20px;
  width: 200px;
  text-align: center;
  transition: background 0.3s;
}

.slide.add {
  background: var(--background);
  color: var(--textCol);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 0 10px 10px 0;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

.slide.edit {
  background: var(--background);
  color: var(--textCol);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 10px 0px 0px 10px;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}


.slide.add:hover,
.slide.edit:hover {
  background: var(--main);
  color: var(--background);
  border-bottom: 0px;
}

.slide-controls input:checked+.slide {
  background: var(--main);
  color: var(--background);
  border-bottom: 0px;
}

@media (max-width: 500px) {
  .body {
    padding: 50px 20px;
  }

  form {
    width: 100%;
    padding: 15px;
  }

  .slide {
    width: 80px;
  }

  h1 {
    font-size: 24px;
  }

  h6 {
    font-size: 12px;
  }
}
