.body {
  direction: rtl;
  height: 100%;
  padding: 20px;
  margin: 20px;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.containerDiv {
  height: auto;
  width: auto;
  padding: 30px;
  margin: 10px;
  margin-top: 110px;
  margin-bottom: 60px;
  display: flex;
  justify-content: right;
  flex-direction: column;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 2px 6px var(--shadow);
  border-top: 2px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

.titleDiv {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 45px;
  color: var(--prime) !important;
  padding: 5px;
  margin: 0;
}

h6 {
  font-size: 14px;
  color: var(--textCol);
  padding: 5px;
  margin: 0;
  margin-right: 15px !important;
}

.productNameDiv,
.productPriceDiv,
.productsSectionDiv,
.quantityDiv,
.productPhotoDiv,
.productBarcodeDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.productNameLabel,
.productPriceLabel,
.productsSectionLabel,
.productPhotoLabel,
.productBarcodeLabel {
  font-size: 18px;
  color: var(--textCol);
  padding: 0;
  margin: 20px 60px 5px 30px;
}

.quantityLabel {
  font-size: 18px;
  color: var(--textCol);
  padding: 0;
  margin: 0px 60px 5px 30px;
}

.productNameField,
.productPriceField,
.productsSectionList,
.quantityCounter,
.productPhotoInput,
.productBarcodeInput {
  border: none;
  padding: 7px 20px;
  margin: 0px 80px 5px 80px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px var(--shadow);
  display: flex;
  text-align: center;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 2px;
  border-style: solid;
  border-color: var(--prime);
}

.productsSectionList {
  margin-bottom: 0;
  margin-left: 10px;
}

input:focus {
  outline-color: var(--main);
}

.productsSectionDiv {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.productsSectionDiv_ {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anotherSectionLabel {
  padding: 0;
  margin: 0 10px;
}

.anotherSectionField {
  width: 179px;
  padding: 5px;
  margin: 0 360px 0 0;
  display: flex;
  text-align: center;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 2px;
  border-style: solid;
  border-color: var(--prime);
}

.quantityCounter {
  width: 170px;
}

.productBarcodeInput,
.productPhotoInput {
  background-color: var(--background);
  width: 250px;
}

.ResetAddDiv {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateButton {
  background-color: var(--main);
  border-radius: 10px;
  border: var(--main);
  padding: 7px 20px;
  margin: 0;
  margin-right: 7px;
  font-family: var(--font);
  color: var(--background);
  box-shadow: 0px 2px 6px var(--shadow);
  text-decoration: none;
  width: 80px;
  display: flex;
  align-self: center;
  text-align: center;
}

.resetButton {
  background-color: var(--background);
  color: var(--prime);
  border: none;
  width: 150px;
  padding: 7px 35px 7px 20px;
  margin: 0;
  display: flex;
  align-self: center;
  text-align: center;
  box-shadow: 0px 0px 0px var(--shadow);
}
