<div class="body">
  <div class="containerDiv">

    <div class="titleDiv">
    <h1>تحديث منتج</h1>
    <h6>حدث تفاصيل المنتج</h6>
  </div>

    <div class="productNameDiv">
      <label class="productNameLabel" for="productName">اسم المنتج :</label>
      <input class="productNameField" type="text" id="productName" name="productNameName" value="صابون الببايا"  required>
    </div>

    <div class="productPriceDiv">
      <label class="productPriceLabel" for="productPrice">سعر المنتج :</label>
      <input class = "productPriceField" type="text" id="productPrice" name="productPriceName" value="10 ريال"  required>
    </div>

    <div class="productsSectionDiv">
      <label class="productsSectionLabel" for="productsSection"> قسم المنتج :</label>
<div class="productsSectionDiv_">
      <input class ="productsSectionList" list="productsSection" name="productsSection" placeholder="اختر قسم المنتج">
      <datalist id="productsSection" name="productsSectionsName">
       <ng-container *ngFor="let item of arrayList">
       <option  value="{{item.section}}">
       </ng-container>
      </datalist>
          <input class ="anotherSectionRadio" type="radio" name="anotherSectionName" id="anotherSection">
          <label class="anotherSectionLabel" for="anotherSection">انقر لإضافة قسم جديد</label>
          </div>
        </div>
        <input  class="anotherSectionField" type="text" id="anotherSection" name ="anotherSectionInputName"  placeholder="ادخل القسم الجديد" disabled="true">

    <div class="quantityDiv">
      <label class="quantityLabel" for="quantity">الكمية :</label>
      <input class="quantityCounter" type="number" id = "quantity" name="quantityName" min="0" value="600">
    </div>

    <div class="productPhotoDiv">
      <label class="productPhotoLabel" for="productPhoto">حدث صورة المنتج :</label>
      <input class="productPhotoInput" type="file" name="productPhotoName" id="productPhoto">
    </div>

    <div class="productBarcodeDiv">
      <label class="productBarcodeLabel" for="productBarcode">حدث صورة لباركود المنتج :</label>
      <input class = "productBarcodeInput" type="file" name="productBarcodeName" id="productBarcode">
    </div>

    <div class="ResetAddDiv">
      <input class="resetButton" type="reset" value="مسح الحقول" name="resetName">
      <input class="updateButton" type="button" value="تحديث" name="updateName">
    </div>

  </div>
</div>
