<div class="body">

  <div class="container-div">

    <div class="title-div">
      <h1>طلبات التحويل للمناديب</h1>
    </div>

    <div class="table-title-div">
      <h2>تغاصيل الطلبات</h2>
    </div>

    <div class="search-container">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="بحث" (input)=" filter_collectors($event.target.value)">
    </div>

    <div class="table-container-div">

    <table>

      <thead>
        <tr>
          <th class="th-name">اسم المندوب</th>
          <th>رقم الجوال</th>
          <th>رقم الطلب</th>
          <th>تاريخ الطلب</th>
          <th>الفاتورة</th>
          <th>حالة الطلب</th>
          <th class="th-last">ملاحظات</th>
        </tr>
      </thead>

      <tbody>
        <tr>
        <tr *ngFor="let item of transferRequestsList">
          <td>{{item.collertorName}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.orderNumber}}</td>
          <td>{{item.orderDate}}</td>
          <td>{{item.bill}}</td>
          <td>{{item.orderStatus}}</td>
          <td>{{item.notes}}</td>
        </tr>
      </tbody>

    </table>

  </div>

  </div>

</div>
