<div class="body">
  <form>
    <div class="titleDiv">
      <h1>طلبات التحويل للمناديب</h1>
    </div>

    <div class="tableTitleDiv">
      <h2>تغاصيل الطلبات</h2>
    </div>

    <table>
      <thead>
        <tr>
          <th class="thName">اسم المندوب</th>
          <th>رقم الطلب</th>
          <th>تاريخ الطلب</th>
          <th>الفاتورة</th>
          <th>حالة الطلب</th>
          <th class="thNotes">ملاحظات</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <tr *ngFor="let item of arrayList">
          <td class="tdName">{{item.collertorName}}</td>
          <td>{{item.orderNumber}}</td>
          <td>{{item.orderDate}}</td>
          <td>{{item.bill}}</td>
          <td>{{item.orderStatus}}</td>
          <td>{{item.notes}}</td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
