@import url(https://fonts.googleapis.com/css?family=Almarai);

.card{
  padding: 10px;
  font-family: 'Almarai';
  border: none;
  box-shadow: 0px 2px 6px #30303033;

}

.card-body{
  text-align: right;
}

.card-img-top{
  width: 150px;
  margin: 0 auto;
}

.card-text{
  color: #DE5B5C;
  font-weight: bolder;
}
