.body {
  direction: rtl;
  height: 100%;
  padding: 20px;
  margin: 20px;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.container-div {
  height: auto;
  width: 90%;
  padding: 10px 0px 30px;
  margin: 50px;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 10px;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

.title-div {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 45px;
  color: var(--prime);
  padding: 5px;
  margin: 0;
}

h6 {
  font-size: 14px;
  color: var(--textCol);
  padding: 5px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 15px;
}

.statistics-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.helper-1 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.helper-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.helper-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.usersContainerDiv {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.users-p {
  display: flex;
  justify-self: center;
  text-align: center;
  font-size: 25px;
  padding: 0px;
  margin: 5px;
}

.total-p,
.customers-p,
.collectors-p,
.stores-p {
  font-size: 15px;
  padding: 5px 5px 0px 0px;
  margin: 0;
}

.total-n-p,
.customers-n-p,
.collectors-n-p,
.stores-n-p {
  font-size: 18px;
  padding: 2px 5px 0px 0px;
  margin: 0;
}

.total-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 120px;
  padding: 0;
  margin: 0;
}

.customers-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 120px;
  padding: 0;
  margin: 0;
}

.collectors-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 120px;
  padding: 0;
  margin: 0;
}
.stores-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 150px;
  padding: 0;
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 280px;
  padding: 5px 5px 2px 5px;
  margin: 5px 25px 30px 25px;
  background-color: var(--background);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 10px;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

.customers-icon{
  padding: 10px;
  margin-right: 0px;
  margin: 0px;
  margin-right: 20px;
  width: 100px;
  height: 105px;
}

.chart-container {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-div {
  width: 380px;
  height: 260px;
  background-color: var(--background);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 10px;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-title-div {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  color: var(--textCol);
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 25px;
  color: var(--textCol);
  padding: 5px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}

.search-container {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  width: 60%;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--prime);
}

input[type="text"] {
  width: 100%;
  box-shadow: 0px 2px 6px var(--shadow);
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

.table-container {
  width: 90%;
  height: 300px;
  overflow-y: auto;
}

table {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  display: table;
  align-self: center;
  text-align: center;
  background-color: var(--background);
  color: var(--font);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}

th {
  background-color: var(--prime);
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0;
  color: var(--background) !important;
  position: sticky;
    top: 0;
}

.th-first{
  border-radius: 0 10px 0 0;
}

.th-last{
  border-radius: 10px 0 0 0;
}

td {
  width: auto;
  height:auto;
  padding: 10px;
  margin: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.commercialRegistration {
  height: 50px;
  width: 50px;
}
