<div class=body>
  <form>

    <div class="titleDiv">
      <h1>الإحصائيات</h1>
      <h6>راقب نجاحك</h6>
    </div>

    <div class="tableTitleDiv">
      <h2>بيانات العملاء</h2>
    </div>

    <table>
      <thead>
        <tr>
          <th class="thName">اسم العميل</th>
          <th>العنوان</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th class="thLast">رقم الحساب المصرفي</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayList">
          <td>{{item.customerName}}</td>
          <td>{{item.customerAddress}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.IBAN}}</td>
        </tr>
      </tbody>
    </table>

    <div class="tableTitleDiv">
      <h2>بيانات المناديب</h2>
    </div>

    <table>
      <thead>
        <tr>
          <th class="thName">اسم المندوب</th>
          <th>العمر</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th class="thLast">رقم الحساب المصرفي</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayList0">
          <td>{{item.collectorName}}</td>
          <td>{{item.collectorAge}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.IBAN}}</td>
        </tr>
      </tbody>
    </table>

    <div class="tableTitleDiv">
      <h2>بيانات المتاجر</h2>
    </div>

    <table>
      <thead>
        <tr>
          <th class="thName">المتجر</th>
          <th>الفرع</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th>المبيعات الشهرية</th>
          <th class="thLast">السجل التجاري</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayList1">
          <td>{{item.StoreName}}</td>
          <td>{{item.storeAddress}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.monthSales}}</td>
          <td>ملف</td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
