<div class=body>

  <div class="containerDiv">

    <div class="titleDiv">
      <h1>الإحصائيات</h1>
      <h6>راقب نجاحك</h6>
    </div>

    <div class="statisticsContainer">

      <div class="helper1">
        <div>
          <p class="usersP">عدد المستخدمين</p>
        </div>
        <div class="helper2">
          <div class="helper3">
            <div class="con">
              <div class="totalDiv">
                <p class="totalP">الإجمالي :</p>
                <p class="totalNP">{{total}}</p>
              </div>
              <img class="customersIcon" src="../../../../../assets/images/customers.png" alt="Total Image">
            </div>
            <div class="con">
              <div class="customerDiv">
                <p class="customerP">العملاء :</p>
                <p class="customerNP">{{number_of_users}}</p>
              </div>
              <img class="customersIcon" src="../../../../../assets/images/customers.png" alt="Total Image">
            </div>
          </div>
          <div class="helper3">
            <div class="con">
              <div class="collectorsDiv">
                <p class="collectorsP">المناديب :</p>
                <p class="collectorsNP">{{number_of_collectors}}</p>
              </div>
              <img class="customersIcon" src="../../../../../assets/images/customers.png" alt="Total Image">
            </div>
            <div class="con">
              <div class="storesDiv">
                <p class="storesP">المتاجر :</p>
                <p class="storesNP">{{number_of_markets}}</p>
              </div>
              <img class="customersIcon" src="../../../../../assets/images/customers.png" alt="Total Image">
            </div>
          </div>
        </div>
      </div>

      <div class="chartContainer">
        <h2>أرباح التطبيق الشهرية</h2>
        <div class="chartDiv" id="main"></div>
      </div>

    </div>

    <div class="tableTitleDiv">
      <h2>بيانات العملاء</h2>
    </div>

    <div class="search-container">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="بحث">
    </div>

    <div class="table-container-div">
      <table>
        <thead>
          <tr>
            <th class="th-first">اسم العميل</th>
            <th>العنوان</th>
            <th>البريد الإلكتروني</th>
            <th>رقم الجوال</th>
            <th class="th-last">رقم الحساب المصرفي</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of customersList">
            <td>{{item.name_user}}</td>
            <td>{{item.customerAddress}}</td>
            <td>{{item.email_user}}</td>
            <td>{{item.phone_user}}</td>
            <td>{{item.IBAN}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tableTitleDiv">
      <h2>بيانات المناديب</h2>
    </div>

    <div class="search-container">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="بحث">
    </div>

    <div class="table-container-div">
    <table>
      <thead>
        <tr>
          <th class="th-first">اسم المندوب</th>
          <th>العمر</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th>رقم الحساب المصرفي</th>
          <th>حالة المندوب</th>
          <th class="th-last">حالة الحساب</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collectorsList">
          <td>{{item.name_user}}</td>
          <ng-container *ngFor="let item_2 of item.values_info"><ng-container *ngIf="item_2.info == 'age'"><td>{{item_2.answer}}</td></ng-container></ng-container>
          <td>{{item.email_user}}</td>
          <td>{{item.phone_user}}</td>
          <td>{{item.IBAN}}</td>
          <ng-container *ngFor="let item_2 of item.values_info">
            <ng-container *ngIf="item_2.info == 'collector_status'">
              <td>{{item_2.answer}}</td>
            </ng-container>
          </ng-container>
          <td>{{item.account_status}}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="tableTitleDiv">
      <h2>بيانات المتاجر</h2>
    </div>

    <div class="search-container">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="بحث">
    </div>

    <div class="table-container-div">
    <table>
      <thead>
        <tr>
          <th class="th-first">المتجر</th>
          <th>الفرع</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th>المبيعات الشهرية</th>
          <th>السجل التجاري</th>
          <th class="th-last">حالة الحساب</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of marketsList">
          <td>{{item.name_user}}</td>
          <ng-container *ngFor="let item_2 of item.values_info"><ng-container *ngIf="item_2.info == 'branch'"><td>{{item_2.answer}}</td></ng-container></ng-container>
          <td>{{item.email_user}}</td>
          <td>{{item.phone_user}}</td>
          <td>{{item.monthSales}}</td>
          <td><a href="{{item.commercialRegistration}}" target="_blank"><img class="commercialRegistration"
                src={{item.commercialRegistration}} alt="السجل"></a></td>
          <td>{{item.account_status}}</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>

</div>
