
.body {
  direction: rtl;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 100%;
  margin: 0;
}

form {
  background-color:var(--background);
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 50px;
  margin-top: 110px;
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 10px;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

.container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin: 50px;
  margin-top: 100px;
}

.titleDiv {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 45px;
  color: var(--prime);
  padding: 5px;
  margin: 0;
}

h6 {
  font-size: 14px;
  color: var(--textCol);
  padding: 5px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 15px;
}

.slide-controls {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.slide-controls input {
  display: none;
}

.slide {
  cursor: pointer;
  padding: 7px 20px;
  width: 200px;
  text-align: center;
  transition: background 0.3s;
}

 .slide.stores {
  background: var(--background);
  color: var(--textCol);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 0 10px 10px 0;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 2px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--prime);
}

 .slide.collectors {
  background: var(--background);
  color: var(--textCol);
  box-shadow: 0px 2px 6px var(--shadow);
  border-radius: 10px 0px 0px 10px;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 2px;
  border-style: solid;
  border-color: var(--prime);
}

.slide.stores:hover,
.slide.collectors:hover {
  background: var(--main);
  color: var(--background);
}


.slide-controls input:checked + .slide {
  background: var(--main);
  color: var(--background);
}


@media (max-width: 500px) {
  .body {
    padding: 50px 20px;
  }

  form {
    width: 100%;
    padding: 15px;
  }

  .slide {
    width: 80px;
  }

  h1 {
    font-size: 24px;
  }

  h6 {
    font-size: 12px;
  }
}
