<app-header></app-header>
<router-outlet>
  <div class="body">
    <form class="form" (ngSubmit)="signUp()">
      <div class="slide-controls">
        <input type="radio" name="slide" id="signup">
        <label class="slide signup" for="signup">إنشاء حساب</label>

        <input type="radio" name="slide" id="login" (change)="navigateToAccountType()">
        <label class="slide login" for="login">تسجيل دخول</label>
      </div>
      <div class="slider-tab"></div>
      <h1 class="title">أنشئ حسابك</h1>
      <h6 class="note">أنشئ حسابك وكن شريكاَ في النجاح</h6>

      <div class="group">
        <div class="input-group">
          <p class="text">اسم المتجر</p>
          <input type="text" [(ngModel)]="formData.name_user" name="name_user" placeholder="ادخل الاسم" required>
        </div>
        <div *ngIf="submitted_crearte && errorMessages.name_user">
          <div class="invalid-feedback-custom">{{ errorMessages.name_user }}</div>
        </div>
      </div>

      <div class="group">
        <div class="input-group">
          <p class="text">الفرع</p>
          <input type="text" [(ngModel)]="formData.branch" name="branch" placeholder="ادخل الفرع" required>
        </div>
        <div *ngIf="submitted_crearte && errorMessages.branch">
          <div class="invalid-feedback-custom">{{ errorMessages.branch }}</div>
        </div>
      </div>

      <div class="group">
        <div class="input-group">
          <p class="text">البريد الالكتروني</p>
          <input type="text" [(ngModel)]="formData.email_user" name="email_user" placeholder="ادخل البريد" required>
        </div>
        <div *ngIf="submitted_crearte && errorMessages.email_user">
          <div class="invalid-feedback-custom">{{ errorMessages.email_user }}</div>
        </div>
      </div>

      <div class="group">
        <div class="input-group">
          <p class="text">كلمة المرور</p>
          <input type="password" [(ngModel)]="formData.password_user" name="password_user"
            placeholder="ادخل كلمة المرور" required>
        </div>
        <div *ngIf="submitted_crearte && errorMessages.password_user">
          <div class="invalid-feedback-custom">{{ errorMessages.password_user }}</div>
        </div>
      </div>

      <div class="group">
        <div class="input-group">
          <p class="text">رقم الجوال</p>
          <input type="text" [(ngModel)]="formData.phone_user" name="phone_user" placeholder="ادخل الرقم" required>
        </div>
        <div *ngIf="submitted_crearte && errorMessages.phone_user">
          <div class="invalid-feedback-custom">{{ errorMessages.phone_user }}</div>
        </div>
      </div>

      <div class="group">
        <div class="input-group">
          <p class="text">السجل التجاري</p>
          <input type="file" (change)="handleFileInput($event)" accept="image/*,.pdf" required>
        </div>
        <div *ngIf="submitted_crearte && errorMessages.commercial_register">
          <div class="invalid-feedback-custom">{{ errorMessages.commercial_register }}</div>
        </div>
      </div>

      <div class="group">
        <div class="input-group">
          <p class="text">شعار المتجر</p>
          <input type="file" (change)="handleImageInput($event)" accept="image/*" required>
        </div>
        <div *ngIf="submitted_crearte && errorMessages.logo">
          <div class="invalid-feedback-custom">{{ errorMessages.logo }}</div>
        </div>
      </div>

      <input type="hidden" [(ngModel)]="formData.user_type_id" name="user_type_id">

      <div class="btn">
        <button type="submit">انشاء حساب</button>
      </div>
      <p class="change"><a routerLink="/auth/login">سجل الدخول</a> لديك حساب؟ </p>
    </form>
  </div>
</router-outlet>
<app-footer></app-footer>
