<div class="body">
  <div class="container">

    <div class="titleDiv">
      <h1>تحديث منتج</h1>
    </div>

    <div class="tableTitleDiv">
      <h2>انقر لتحديث المنتج أو حذفه نهائياَ</h2>
     </div>

    <table>
      <thead>
        <tr>
          <th class="thName">اسم المنتج</th>
          <th>سعر المنتج</th>
          <th>قسم المنتج</th>
          <th>الكمية</th>
          <th>صورة المنتج</th>
          <th>باركود المنتج</th>
          <th class="thProsses">عملية</th>
        </tr>
      </thead>
      <tbody>
        <tr class="trbody" *ngFor="let item of arrayList">
          <td>{{item.prodcutName}}</td>
          <td>{{item.productPrice}}</td>
          <td>{{item.productSection}}</td>
          <td>{{item.quntity}}</td>
          <td><img src="" alt="باركود"></td>
          <td><img src="" alt="صورة"></td>
          <td class="tdButton">
            <button (click)="open(content)">اختر</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <input type="text">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
