<div class="body">
  <!--
  <div class="container " style="display: flex;flex-direction: column;">
    <input type="text" class="form-control bg-white" placeholder="بحث" aria-label="Username"
      (keyup)="applyFilter(applyFilterInput)" aria-describedby="basic-addon1" [(ngModel)]="applyFilterInput">
    <br>
    <div class="row">
    </div>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef="let emp">{{ emp.id }}</td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>first_name</th>
        <td mat-cell *matCellDef="let emp">{{ emp.first_name }}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>last_name</th>
        <td mat-cell *matCellDef="let emp">{{ emp.last_name }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
      </ng-container>
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>avatar</th>
        <td mat-cell *matCellDef="let emp">{{ emp.avatar }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
    </table>
    <mat-paginator (page)="changePage($event)" [length]="totalData" [pageSizeOptions]="pageSizes"
      showFirstLastButtons></mat-paginator>
  </div>
-->
  <div class="top">



    <div class="welcome-message">
      <h1> !مرحبا {{ name }} </h1>
      <p>أهلاً بعودتك إلى العمل في منصة سهل بكل نشاط</p>
    </div>
    <img src="../../../../../assets/images/Hat.png" alt="Hat" class="welcome-image" />
  </div>
  <div class="status-container">
    <p class="status-description">حدد حالة استقبال الطلبات لديك</p>
    <div class="cont">
      <label for="status-toggle" class="status-label">حالة استقبال الطلبات</label>
      <input class="status" type="checkbox" id="status-toggle" [checked]="isActive" (change)="toggleStatus()" />
    </div>
  </div>
  <app-button [link]="link" [value]="value"></app-button>
</div>