@import url(https://fonts.googleapis.com/css?family=Almarai);

.btn{
  background-color: #8DA18F;
  border-radius: 10px;
  border: #8DA18F;
  padding: 7px 20px;
  font-family: 'Almarai';
  color: white;
  box-shadow: 0px 2px 6px #30303033;

}

.btn:hover{
  background-color: #69856c;
}
