<div class="body">
  <form>

    <div class="titleDiv">
      <h1>طلبات تسجيل مناديب التجميع</h1>
    </div>

    <div class="tableTitleDiv">
      <h2>تفاصيل الطلبات</h2>
    </div>

    <table>
      <thead>
        <tr>
          <th class="thName">اسم المندوب</th>
          <th>العمر</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th>الرد</th>
          <th class="thLast">تبرير الرد</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayList">
          <td>{{item.collectorName}}</td>
          <td>{{item.collectorAge}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td class="tdButton"><button>قبول</button>
          <button>رفض</button></td>
          <td><input class = "replayField" type="text" id="replay" name="replayName" value="تم قبولك"> </td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
