<div class="body">

  <div class="container-div">

    <div class="title-div">
      <h1>طلبات تسجيل مناديب التجميع</h1>
    </div>

    <div class="table-title-div">
      <h2>تفاصيل الطلبات</h2>
    </div>

    <div class="search-container">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="بحث">
    </div>

    <table>

      <thead>
        <tr>
          <th class="th-name">اسم المندوب</th>
          <th>العمر</th>
          <th>البريد الإلكتروني</th>
          <th>رقم الجوال</th>
          <th class="th-last">الرد</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of arrayList">
          <td>{{item.collectorName}}</td>
          <td>{{item.collectorAge}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td  class="td-button"><button class="replay-button" (click)="open(content)">انقر للرد</button></td>
        </tr>
      </tbody>

    </table>

  </div>

</div>

<ng-template class="pop-up" #content let-modal>
  <div class="popUp-header-div">
    <h4 class="pop-up-title-h4" id="pop-up-title">انقر للقبول أو الرفض مع التوضيح: </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="popUp-body-div">
    <label class="rplay-massege-label" for="replay-massege">رسالة الرد :</label>
    <input class="replay-massege-field" id="replay-massege" type="text">
  </div>

  <div class="pop-up-opration-div">
    <button type="button" class="pop-up-acceptance-button" (click)="modal.acceptance('accept click')">قبول</button>
    <button type="button" class="pop-up-rejectione-button" (click)="modal.rejection('reject click')">رفض</button>
  </div>
</ng-template>
