<div class = body>
  <form>

    <h1>التنبيهات</h1>
    <table>
      <caption>قائمة تفاصيل طلبات تسجيل المناديب</caption>
      <thead>
        <tr>
          <td>التنبيه</td>
          <td>تاريخ التنبيه</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>يرغب متجر بن داوود بالإنضمام لقائمة المتاجر</td>
          <td>1 / 1 / 1446</td>
        </tr>
        <tr>
          <td>يرغب خالد عبدالعزيز في أن يصبح مندوب</td>
          <td>2 / 1 / 1446</td>
        </tr>
        <tr>
          <td>تلقيت طلب تحويل مبلغ 1,200 من جميل خالد</td>
          <td>3 / 1 / 1446</td>
        </tr>
        <tr>
          <td>يرغب متجر بن داوود بالإنضمام لقائمةالمتاجر</td>
          <td>4 / 1 / 1446</td>
        </tr>
        <tr>
          <td>يرغب متجر بنده بالإنضمام لقائمةالمتاجر</td>
          <td>5 / 1 / 1446</td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
